:root {
    --primary: #FF640A;
    --secondary: #213944;
    --dark: #23252B;
    --black: #000;
    --white: #fff;

    --element-radius: 10px;
    --space: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--black);
    max-width: 1920px;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background: var(--dark);
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
}

.header-title {
    color: var(--primary)
}

.button-title {
    display: flex;
    justify-content: space-between;
}

.header-container {
    border-radius: var(--element-radius);
}

.header-container input {
    background-color: var(--secondary);
    border: none;
    color: var(--white);
    padding: 0 10px;
    outline: none;
}

.search-container:focus-within {
    border-color: var(--primary);
}

ul {
    display: flex;
    list-style: none;
    gap: 60px;
    align-items: center;
}
li a {
    color: var(--white);
    text-decoration: none;
}

.search-container {
    display: flex;
}

.search-container button {
    padding: 10px;
    left: -35px;
    color: var(--white);
    background: var(--secondary);
    border: none;
}

.search-container input, #search-name {
    color: var(--primary);
}

section {
    max-width: 1500px;
    margin: auto;
    padding-top: var(--space);
}

.title {
    color: var(--white);
    margin-top: var(--space);
}

#general-title {
    text-align: center;
}

.slider-container {
    display: flex;
    overflow-x: auto;
    max-width: 1500px;
    margin: auto;
    padding-top: var(--space);
    gap: var(--space);
    scrollbar-color: var(--primary) var(--dark);
}
.loader {
    animation: loading-skeleton infinite 1.5s;
    background: var(--secondary);
}

.movie-container p {
    max-width: 200px ;
    color: var(--white);
    padding: calc(var(--space)/2) 0px;
    font-weight: 700;
}

.movie-img {
    width: 200px;
    min-height: 200px;
    border-radius: var(--element-radius);
}

.movie-img--loader {
    background: var(--secondary);
    height: 300px;
}
.loader:nth-child(1) {
    animation-delay: 1s !important;
}
.loader:nth-child(2) {
    animation-delay: 2s !important;
}

#hero {
    height: 600px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: 
        linear-gradient(to right, rgba(0,0,0,0.5) 0%, transparent 100%),
        linear-gradient(to top, rgba(0,0,0,0.5) 0%, transparent 100%);
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.hero-info {
    height: inherit;
    max-width: 640px;
    align-content: center;
    margin: var(--space);
}

#categories-preview, #search-preview{
    text-align: center;
    margin-top: calc(var(--space) * 2);
}

.categories-list, .search-list, .general-list {
    display: flex;
    gap: var(--space);
    max-width: 1500px;
    flex-wrap: wrap;
    padding-top: var(--space);
}

.categories-list h5 {
    color: var(--white);
    background: var(--secondary);
    padding: calc(var(--space)/2) var(--space) ;
    border-radius: var(--element-radius);
}

.inactive {
    display: none;
}

.description {
    color: var(--white);
    margin:  var(--space) 0px;
    max-width: 450px;
    font-size: small;
    letter-spacing: 1px;
    line-height: var(--space);
}

.btn {
    padding: calc(var(--space) / 3);
    border-radius: calc(var(--element-radius) / 2);
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.btn i {
    margin: 5px;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--white);
}

.btn-secondary {
    color: var(--primary);
    background: none;
}

.controls {
    position: absolute;
    max-width: 1400px;
    margin: auto;
    left: 13%;
}

.controls button i {
    font-size: larger;
}

.movie-detail {
    background-repeat: no-repeat;
    background-size: cover;
}

.scoring-container {
    margin: var(--space) 0px;
    color: var(--white);
}

.scoring-container i {
    margin-right: calc(var(--space) / 2);
}

.info-movie {
    max-width: 1050px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
}

.trending-list{
    flex-wrap: wrap;
}

footer {
    text-align: center;
    border-top: 2px solid var(--dark);
    margin-top: var(--space);
}

footer p {
    color: var(--white);
    padding: var(--space);
}


/* Animations */

@keyframes loading-skeleton {
    0%, 100% {
        opacity: 100%;
    }
    50% {
        opacity: 0%;
    }
}